body{
    background-color: rgb(4, 106, 4);
    font-family:Arial, Helvetica, sans-serif
}
.circle {
    height: 50px;
    width: 50px;
    background-color: #d9d9d9;
    border-radius: 50%;
}
h1{
    color: #d9d9d9;
}
.rer{
    width: 1132px;
    height: 473px;
    border-radius: 50px;
}
p{
    text-align: center;
}
.trel {
    size: 30px;
    background-color: rgb(0, 202, 0);
    border-radius: 20px;
}
button {
    border: none;
    background-color: rgb(6, 190, 6);
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 20px ;
    text-align: center;
    margin-top: 20px;
  }
.reg{
    background-color: rgb(181, 3, 3);
    color: black;
    
}
td{
    display: inline-block;
    flex-wrap:nowrap ;
}
img {
    width: 800px;
    height: 500px;
    object-fit: cover;
    border-radius: 60px;
    padding: 40px;

}
table {
    margin: auto;
}
h1{
    text-align: center;
    background-color: green;
    padding: 20px;
    font-size: 30px;
}
.tra button:hover {
    background-color: #045304;
}
